.project_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
    height: auto;
}

.project_items {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.project_items:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.project_item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.project_items h3 {
    margin: 1.2rem 0 0;

}

.project_items p {
    margin: 1rem 0 2rem;

}

.project_items-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}


/* =================== MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (max-width: 1024px){ 
   .project_container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
   }
}

/* =================== MEDIA QUERIES (SMALL DEVICES) */

@media screen and (max-width: 600px){ 
    .project_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
  
}